#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/*--- FONTS ---*/
@font-face {font-family: "Bricolage Grotesque"; src: url("../src/assets/fonts/BricolageGrotesque-Light.ttf");}
@font-face {font-family: "Unbounded"; src: url("../src/assets/fonts/Unbounded-Medium.ttf");}

h1, h2, h3, h4, h5, h6 {
  font-family:"Unbounded", sans-serif;
  font-size:1.5rem;
}

body {
  font-family:"Bricolage Grotesque", sans-serif;
  font-size:0.95rem;
  color:var(--text)
}

:root {
  --accent-green:#bfd8ad;
  --accent-green-light:#dae8d0;
  --text:#444b5c;
  --borders:#dedfe4;
  --background:#fcfcfc;
}

input, textarea, button {
  font-family:inherit;
  font-size:inherit;
  color:inherit;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.mapWrapperStyle {
  height: 90vh;
  width: 90vw;
}

.map-Container {
  height: 100%;
  width: 100%;
}